body{
    background-color: #f2f2f2;
}
/*--------------------header.html---------------------*/
.customHeader {
    background-image: linear-gradient(to bottom, #0077be, #0e5c8f, #073c5e);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.navbar-brand{
    font-size: xx-large;
}
.customHeader #navbarNav {
    width: 50%;
}
#slogan{
    font-size: 1.2em;
}
/*----------------------------------------------------*/

/*--------------------index.html----------------------*/

.homeTitle{
    display:flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
#index{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.table{
    text-align: center;
    margin-top: 20px;
}
.table tbody tr {
    transition: box-shadow 0.2s ease-in-out;
}
.table tbody tr:hover {
    background-color: #DCDCDC;
    box-shadow: 0 0 10px #999999;
}
th {
    height: 80px;

}
tr:nth-child(odd) {
    background-color: white;
}

.titre, .titreFestival{
    margin-top: 20px;
    margin-bottom: 20px;
}

#liste{
    padding: 0;
    position: relative;
    height: 400px; /* ou la hauteur que vous souhaitez pour votre table */
    overflow-y: scroll;
    margin-bottom: 30px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead {
    position: sticky;
    top: 0;

}

th {
    padding: 8px;

    font-weight: bold;
    background-image: linear-gradient(to bottom, #444, #222);
    color: #fff;
    text-align: center;
}
#edit-btn {
    background-image: linear-gradient(to bottom, #0077be, #0e5c8f, #073c5e);
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
    width:150px
}

#edit-btn:hover {
    background-image: linear-gradient(to bottom,#073c5e,#0e5c8f,#0077be);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#add-btn, #subForm, #subEdit {
    background-image: linear-gradient(to bottom, #4CAF50, #2E8B57);
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

#subForm, #subEdit{
    width:150px;
}
#add-btn:hover , #subForm:hover, #subEdit:hover{
    background-image: linear-gradient(to bottom, #2E8B57, #4CAF50);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

}
.Add{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
/*----------------------------------------------------*/

/*-----------formulaire.html & editer.html------------*/

.big_container{
    margin:30px;
    align-items: center;

}
#formulaire{
    flex-direction: column;
    margin-top: 30px;
}
textarea{
    width:150px;
}
.form-group{
    display: flex;
    width: 75%;
}
.form-group label{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.form-group input{
    width: 35%;
}
.titreFestival{
    text-align: center;
}
.form-group button, .form-group a{
    width: 35%;
}
#cancelForm, #cancelEdit{
    background-image: linear-gradient(to bottom, #e74c3c, #c0392b);
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width:150px
}

#cancelForm:hover, #cancelEdit:hover {
    background-image: linear-gradient(to bottom, #c0392b, #e74c3c);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
/*----------------------------------------------------*/

/*--------------------footer.html--------------------*/
#customFooter{
    background-image: linear-gradient(to bottom, #444, #222);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
}
#contact{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#contact h5{
    width: 45%;
}
/*----------------------------------------------------*/